/* Typography */

.custom-block-title {
  @apply text-white text-3xl font-bold tracking-normal;
}
.custom-block-big-title {
  @apply text-white text-4xl xl:text-5xl font-bold tracking-normal;
}
.custom-block-subtitle {
  @apply text-xs text-customSecondary  tracking-wider font-bold uppercase;
}
.custom-content-title {
  @apply text-white text-lg font-bold tracking-normal;
}
.custom-content-text-white {
  @apply text-white text-base leading-relaxed;
}
.custom-content-text-gray {
  @apply text-gray-400 text-base;
}

/* Backgrounds */

.custom-bg-dark1 {
  @apply bg-customDarkBg1  fill-customDarkBg1;
}
.custom-bg-dark2 {
  @apply bg-customDarkBg2  fill-customDarkBg2;
}
.custom-bg-dark3 {
  @apply bg-customDarkBg3  fill-customDarkBg3;
}
body,
html {
  @apply bg-slate-50 text-slate-800;
}

/* Borders */

.custom-border-gray {
  @apply border border-solid border-[rgb(255,255,255,0.15)];
}
.custom-border-gray-darker {
  @apply border border-solid border-[rgb(255,255,255,0.07)];
}

.pattern-bg {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

/* Buttons */

.custom-button-colored {
  @apply rounded-lg font-bold bg-customPrimary text-white inline-block hover:bg-indigo-500  transition cursor-pointer;
}

/* Navbar */

.navbar-link {
  @apply lg:text-base text-2xl leading-6 mr-4 ml-4 2xl:mr-6 2xl:ml-6 font-normal lg:font-medium h-full pt-2 hover:text-customPrimary transition-colors;
}

/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}
